*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
.one{
  width: 110%;

}

body{
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  font-size: 15px;
}

.menu_bar{
 
  text-align: center;
  width: 100%;
  background: white;
  position: fixed;
}

.menu_bar ul{
  display: inline-flex;
  list-style:none;

}

.menu_bar ul li{
  width:10%;
  padding:5px;
  margin:15px;
}

.menu_bar ul li a{
  text-decoration: none;
  color:#2f3640;
}

.active,.menu_bar ul li:hover{
  
  border-radius: 2px;

}

.menu_bar .fa{
  margin-right: 0px;
}


.sub-menu-1{

  display: none;
}

.menu_bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background-color:#7f8fa6;
  margin-top:5px;
  margin-left:5px;
}


.menu_bar ul li:hover .sub-menu-1 ul{

  display: block;
  margin: 10px;
}

.menu_bar ul li:hover .sub-menu-1 ul li{

    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 1px;
    text-align: left;
}


.menu_bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
} 

.menu_bar ul li:hover .sub-menu-1 ul li a:hover{

  color: #EAB543;
}

.fa-angle-right{
  float: right;
}

.sub-menu-2{
  display: none;
}

topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}




.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  margin-top:-40px;
  margin-left: 140px;
  background:#bdc3c7;
}


.card{

  background-image: url('photo/ma oo baba nagad.jpg');
  width: 1350px;
  height:562px;

  text-align: center;
  text-decoration: none;
  font-size: 40px;

}


input#button{
  width: 200px;
  padding: 12px;
  text-align: center;
  background-color: #a7c957;
  margin-top: :100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffff;

}


input#button:hover{
  background-color: #2C3A47;
  width: 210px;
  transition: 1s;
}



table .card_one{
  text-align: center;
  text-decoration: none;

}



.three{
  background:#f5f6fa ;
  width: 1350px;
  height: 200px;
}


.four{
  background:#f5f6fa ;
  width: 1350px;
  height: 500px;
}


.five{
  background:#f5f6fa ;
  width: 1350px;
  height: 140px;
}


.seven{
  background-image: url('photo/Customer-testimonial.jpg');
  width: 750px;
  height: 417px;
  background-size:100%;
  background-repeat: no-repeat;
  background: cover;
  

}




.eight{
  background: #f8f9fa;
  width: 1350px;
  height: 383px;


}


